name: Build

on: [push, pull_request]

jobs:
    build-Ubuntu:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                  java-version: 11

            - name: Build
              run: ./gradlew build

            - name: Run tests
              run: ./gradlew test

    build-Windows:
        runs-on: windows-latest

        steps:
            -   uses: actions/checkout@v2
            -   name: Set up JDK 11
                uses: actions/setup-java@v1
                with:
                    java-version: 11

            -   name: Build
                run: .\gradlew.bat build

            -   name: Run tests
                run: .\gradlew.bat test

    build-MacOS:
        runs-on: macos-latest

        steps:
            -   uses: actions/checkout@v2
            -   name: Set up JDK 11
                uses: actions/setup-java@v1
                with:
                    java-version: 11

            -   name: Build
                run: ./gradlew build

            -   name: Run tests
                run: ./gradlew test

